<h1>Labores</h1>
<p>
	<%= link_to "Labores Propias", :controller => "labors", :action => "index" %>|
	<%= link_to "Labores de Terceros", :controller => "lab3ros", :action => "index" %>
</p>
<p>
   <%= link_to 'Inicio', :controller => 'principal', :action => 'principal' %>
</p>
